{% extends 'todos/layout.html' %}


{% block body %}
  <h3 style="font-weight: bold;">
    Task Details
  </h3>
  <br>
  <form method= "post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_task">Task:</label>
      <input type="text"  class="form-control" name="task" maxlength="100" required id="id_task">
    </div>
    <div class="form-group">
      <label for="id_description">Comment:</label>
      <textarea type="text"  class="form-control" name="description" maxlength="1000" required id="id_task"></textarea>
    </div>
    <br>
    <div class="form-group">
      <label for="id_deadline_date">Deadline Date:</label>
      <input type="date"  class="form-control" name="deadline_date" maxlength="100" required id="id_deadline_date">
      <br>
    </div>
    <div class="form-group">
      <label for="id_deadline_time">Deadline Time:</label>
      <input type="time"  class="form-control" name="deadline_time" maxlength="100" required id="id_deadline_time">
      <br>
    </div>
    <br>
    <button onclick="history.back()" id="done-button" class = "btn btn-danger">Cancel</button>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>
{% endblock body %}

